<!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
    Tableau de gestion des utilisateurs
  </h3>
  <!-- Button trigger modal -->
  <div class="col-sm-6 col-12 text-sm-end">
    <button
      type="button"
      class="btn btn-md btn-outline-primary"
      data-toggle="modal"
      data-target="#exampleModalCenter"
    >
    <i class='bx bxs-add-to-queue'></i> Nouvel utilisateur
    </button>
  </div>
  <div class="card-body">
    <div id="table">
      <table
        class="table table-bordered table-responsive-md table-striped text-center"
      >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">E-mail</th>
            <th scope="col">Titre du poste</th>
            <th scope="col">Télephone</th>
            <th scope="col">Date embauche</th>
            <th scope="col">Role</th>
            <th scope="col" colspan="2" style="text-align: center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of ListUsers">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.post_title }}</td>
            <td>{{ user.phone_num }}</td>
            <td>{{ user.hiring_date }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button
                type="button"
                class="btn btn-outline-danger"
                (click)="deleteUser(user.id)">
              <i class='bx bxs-message-x'></i>
                Supprimer
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-outline-info"
                data-toggle="modal"
                data-target="#modifyUser"
                (click)="openModel(user)"
              >
              <i class='bx bxs-edit-alt'></i>
                Modifier
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Model ajout user -->
      <div
        class="modal fade"
        id="exampleModalCenter"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Ajouter un nouvel utilisateur</h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form [formGroup]="formulaire" (ngSubmit)="check()">
                <div class="form-group">
                  <label for="exampleInputName">Prénom</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputfirstName"
                    aria-describedby="NameHelp"
                    placeholder="Veuillez saisir le prénom"
                    formControlName="firstName"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputLastName">Nom</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputLastName"
                    placeholder="Veuillez saisir le nom"
                    formControlName="lastName"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputJobTitle">Titre du poste</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPostTitle"
                    placeholder="Veuillez saisir le titre du poste"
                    formControlName="post_title"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPhoneNumber">Téléphone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPhoneNumber"
                    placeholder="Veuillez saisir le numéro de téléphone"
                    formControlName="phone_num"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputHiringDate">Date d'embauche</label>
                  <input
                    type="date"
                    class="form-control"
                    id="exampleInputHiringDate"
                    placeholder="Veuillez saisir la date d'embauche"
                    formControlName="hiring_date"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputemail">E-mail</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    id="exampleInputemail"
                    placeholder="Veuillez saisir l'email"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputemail">Mot de passe</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="password"
                    id="exampleInputpass"
                    placeholder="Veuillez saisir le mot de passe"
                  />
                </div>
                <h3>Entrez les coordonnées de votre voiture</h3>
                <div class="form-group">
                  <label for="exampleInputMatricule">Matricule</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Matricule"
                    id="exampleInputMatricule"
                    placeholder="Veuillez saisir la matricule du véhicule"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputType">Marque</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="Type"
                    id="exampleInputType"
                    placeholder="Veuillez saisir la marque du véhicule"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Fermer
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Enregistrer
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Model modify user -->

      <div
        class="modal fade"
        id="modifyUser"
        tabindex="-1"
        role="dialog"
        aria-labelledby="modifyUser"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">
                Update User
              </h5>
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form #f="ngForm" (ngSubmit)="modifyUsers(f)">
                <div class="form-group">
                  <label for="exampleInputName">Prénom</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputfirstName"
                    placeholder="Saisissez le nouveau prénom"
                    [(ngModel)]="userModify.firstName"
                    name="firstName"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputLastName">Nom</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputLastName"
                    placeholder="Saisissez le nouveau nom"
                    name="lastName"
                    [(ngModel)]="userModify.lastName"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputJobTitle">Titre du poste</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputJobTitle"
                    placeholder="Saisissez le nouveau titre du poste"
                    name="post_title"
                    [(ngModel)]="userModify.post_title"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPhoneNumber">Téléphone</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPhoneNumber"
                    placeholder="Saisissez le nouveau numéro de téléphone"
                    name="phone_num"
                    [(ngModel)]="userModify.phone_num"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputHiringDate">Date d'embauche</label>
                  <input
                    type="date"
                    class="form-control"
                    id="exampleInputHiringDate"
                    placeholder="Saisissez la nouvelle date d'embauche"
                    name="hiring_date"
                    [(ngModel)]="userModify.hiring_date"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputPriority">Role</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputPriority"
                    placeholder="Saisissez le role"
                    name="role"
                    [(ngModel)]="userModify.role"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputemail">E-mail</label>
                  <input
                    type="email"
                    class="form-control"
                    id="exampleInputemail"
                    placeholder="Enter your email please"
                    name="email"
                    [(ngModel)]="userModify.email"
                  />
                </div>
                <h3>Entrez les coordonnées de votre voiture</h3>
                <div class="form-group">
                  <label for="exampleInputMatricule">Matricule</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputMatricule"
                    placeholder="Saisissez la nouvelle matricule"
                    name="matricule"
                    [(ngModel)]="userModify.voitures.matricule"
                  />
                </div>
                <div class="form-group">
                  <label for="exampleInputType">Marque</label>
                  <input
                    type="text"
                    class="form-control"
                    id="exampleInputType"
                    placeholder="Saisissez la nouvelle marque"
                    name="type"
                    [(ngModel)]="userModify.voitures.type"
                  />
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal"
                  >
                    Fermer
                  </button>
                  <button type="submit" class="btn btn-primary">
                    Mettre à jour
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Editable table -->
