  <div>
  <button class="btn btn-primary"  (click)="convetToPDF()"> <i class='bx bxs-file-pdf' ></i> Génerer rapport PDF</button>
  </div>



<div id="contentToConvert">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Utilisateurs</th>
        <th scope="col">Date début</th>
        <th scope="col">Date fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let history of listHistory">
        <th scope="row">{{history.id}}</th>
        <td>{{history.name}}</td>
        <td>{{history.startingDate | date}}</td>
        <td>{{history.endDate | date}}</td>
      </tr>
    </tbody>
  </table>

    <div echarts [options]="option" class="chart-container"></div>


</div>
